[submodule "vendor/logstash"]
	path = vendor/logstash
	url = git://github.com/logstash/logstash.git
[submodule "vendor/elasticsearch-head"]
	path = vendor/elasticsearch-head
	url = git://github.com/mobz/elasticsearch-head.git
