language: ruby

rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode

script: bundle exec rake travis

notifications:
  webhooks:
    urls:
    - https://ensemble.engineyard.com/travis
    on_success: always
    on_failure: always
    on_start: true
