body { background-color: #ededed; color: #333; margin:15px; padding:0; }

h1,h2,h3,h4,h5,h6 { font-weight:normal; letter-spacing:-1px; margin:0; padding:0; margin-bottom:.7em;}
ul, ol {margin:0; padding:0; list-style-position:inside;}

#tabs {background:#fff;}

#tabs div.new-task {overflow:auto;}
#tabs div.new-task form {overflow:auto;}
#tabs div.split-fields {
  overflow:auto; padding:10px; border-radius:3px;
  background:#C00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C00', endColorstr='#900');
  background: -webkit-gradient(linear, left top, left bottom, from(#C00), to(#900));
  background: -moz-linear-gradient(top,  #C00,  #900);
}

#tabs div.split-fields div.field {float:left; width:85%; margin:0; padding:0; }
#tabs div.split-fields div.button {float:right; width:13%;}

#tabs div.split-fields div.field input {width:100%; font-size:15px; padding:4px; border:2px solid #ddd; border-radius:2px; background:#ddd;}
#tabs div.split-fields div.field input:focus {background:#FFF;}
#tabs div.split-fields div.button input {border:2px solid #900; background:#fff; color:#c00; line-height:23px; cursor:pointer; text-align:center; width:98%;}
#tabs div.split-fields div.button input:hover { color:#000; border-color:#500;}

ul.tasks {list-style-type:none; }
ul.tasks li { margin-bottom:.4em; padding:5px 9px; font-size:14px; border-radius:4px; position:relative;

  background:#dedede;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ccc');
  background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ccc));
  background: -moz-linear-gradient(top,  #dedede,  #ccc);
}

ul.tasks li p.delete-task {position:absolute; top:6px; right:6px; margin:0; padding:0; line-height:1em;}
ul.tasks li p.delete-task a {text-decoration:none; font-weight:bold; display:block; padding:2px 4px; background:#bbb; color:#666; border-radius:2px;}
ul.tasks li p.delete-task a:hover { color:#000; background:#aaa;}

ul.finished-tasks li { color:#999;
  background: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ddd');
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ddd));
  background: -moz-linear-gradient(top,  #efefef,  #ddd);
}

ul.finished-tasks li p.delete-task a {background:#ccc; color:#aaa;}
ul.pending-tasks { margin:15px 0; }
ul.pending-tasks div.boolean { display:inline; }

.hidden{ display:none; }