
body { background-color: #ededed; color: #333; }

#new_task_area div.input{
	display:inline;
}
.hidden{
	display:none;
}

ul{
	list-style-type:none;
	padding:none;
	margin:0;
	width:100%;
}


ul.tasks li {background:#dedede; margin-bottom:.25em; padding:5px 9px; font-size:22px; border-radius:4px; position:relative;}
ul.finished-tasks li {background:#eee; color:#999;}