
body { background-color: #ededed; color: #333; }

#new_task_area div.input{
	display:inline;
}
.hidden{
	display:none;
}

ul{
	list-style-type:none;
}


ul.tasks li {background:#dedede; margin-bottom:.25em; padding:5px 9px; font-size:14px; border-radius:4px; position:relative; width:100%;}